# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# OS junk
.DS_Store

# HuggingFace & model artifacts
*.bin
*.pt
*.pth
.cache/
huggingface/

# Virtual environments
.env/
.venv/
